@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.eot);
    src: url(../fonts/Inter-Regular.eot?#iefix) format('embedded-opentype'),
            url(../fonts/Inter-Regular.otf) format('otf'),
            url(../fonts/Inter-Regular.svg#Inter-Regular) format('svg'),
            url(../fonts/Inter-Regular.woff) format('woff'),
            url(../fonts/Inter-Regular.ttf) format('ttf'),
            url(../fonts/Inter-Regular.woff2) format('woff2');
            font-weight: normal;
            font-style: normal;
    }
@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-Bold.eot);
    src: url(../fonts/Manrope-Bold.eot?#iefix) format('embedded-opentype'),
            url(../fonts/Manrope-Bold.otf) format('otf'),
            url(../fonts/Manrope-Bold.svg#Manrope-Bold) format('svg'),
            url(../fonts/Manrope-Bold.ttf) format('ttf'),
            url(../fonts/Manrope-Bold.woff) format('woff'),
            url(../fonts/Manrope-Bold.woff2) format('woff2');
            font-weight: 700;
            font-style: normal;
    }
@font-face {
        font-family: 'Manrope';
        src: url(../fonts/Manrope-Regular.eot);
        src: url(../fonts/Manrope-Regular.eot?#iefix) format('embedded-opentype'),
                url(../fonts/Manrope-Regular.otf) format('otf'),
                url(../fonts/Manrope-Regular.svg#Manrope-Regular) format('svg'),
                url(../fonts/Manrope-Regular.ttf) format('ttf'),
                url(../fonts/Manrope-Regular.woff) format('woff'),
                url(../fonts/Manrope-Regular.woff2) format('woff2');
                font-weight: normal;
                font-style: normal;
        }
@font-face {
        font-family: 'Manrope';
        src: url(../fonts/Manrope-SemiBold.eot);
        src: url(../fonts/Manrope-SemiBold.eot?#iefix) format('embedded-opentype'),
                url(../fonts/Manrope-SemiBold.otf) format('otf'),
                url(../fonts/Manrope-SemiBold.svg#Manrope-SemiBold) format('svg'),
                url(../fonts/Manrope-SemiBold.ttf) format('ttf'),
                url(../fonts/Manrope-SemiBold.woff) format('woff'),
                url(../fonts/Manrope-SemiBold.woff2) format('woff2');
                font-weight: 600;
                font-style: normal;
        }
@font-face {
        font-family: 'Raleway';
        src: url(../fonts/Raleway-Bold.eot);
        src: url(../fonts/Raleway-Bold.eot?#iefix) format('embedded-opentype'),
                url(../fonts/Raleway-Bold.otf) format('otf'),
                url(../fonts/Raleway-Bold.svg#Raleway-Bold) format('svg'),
                url(../fonts/Raleway-Bold.ttf) format('ttf'),
                url(../fonts/Raleway-Bold.woff) format('woff'),
                url(../fonts/Raleway-Bold.woff2) format('woff2');
                font-weight: 700;
                font-style: normal;
        }
@font-face {
        font-family: 'Raleway';
        src: url(../fonts/Raleway-Regular.eot);
        src: url(../fonts/Raleway-Regular.eot?#iefix) format('embedded-opentype'),
                url(../fonts/Raleway-Regular.otf) format('otf'),
                url(../fonts/Raleway-Regular.svg#Raleway-Regular) format('svg'),
                url(../fonts/Raleway-Regular.ttf) format('ttf'),
                url(../fonts/Raleway-Regular.woff) format('woff'),
                url(../fonts/Raleway-Regular.woff2) format('woff2');
                font-weight: normal;
                font-style: normal;
        }
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.wrapp {
    font-family: 'Inter';
    font-weight: 400;
    background: #F8F6F3 url(../images/title-page.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px; 
}
@media screen and (max-width: 1111px) {
    .wrapp {
        background-position: center center;
    }
}
@media screen and (max-width: 800px) {
    .wrapp {
        background-image: url(../images/title-page-adaptive.jpg);
        background-position: top right;
    }
}
@media screen and (max-width: 740px) {
    .wrapp {
        background-image: linear-gradient(90deg, rgba(248,246,243,1) 0%, rgba(248,246,243,1) 29%, rgba(248,246,243,0.4739145658263305) 93%), url(../images/title-page-adaptive.jpg);
    }
}
@media screen and (max-width: 429px) {
    .wrapp {
    background-image: url(../images/mobile-title-page.jpg);
    background-attachment: scroll; 
    }
}
@media screen and (max-width: 321px) {
    .wrapp {
        background-position: center center;
    }
}

/* -------------------- header ----------------------- */
.header {
    padding-top: 48px;
    padding-bottom: 74px;
    margin-left: 13.5%;
}
.header__contacts {
    display: flex;
}
.header__mark,
.header__tube {
    margin-right: 8px;
    width: 24px;
    height: 24px;    
}
.header_adress,
.header_phone {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    color: #1C1D20;
    opacity: 0.4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__adresses,
.header__phones {
    display: flex;
}
.header_adress {
    margin-right: 30px;    
}
@media screen and (max-width: 780px) {
    .header__contacts {
        flex-direction: column;
    }
    .header__adresses {
        margin-bottom: 12px;
    }
}
@media screen and (max-width: 570px) {
    .header_adress_city {
        display: none;
    }
}
@media screen and (max-width: 429px) {
    .header {
        padding-top: 36px;
        margin-left: 0;
        margin-bottom: 334px;
    }
    .header__contacts {
        margin-left: 15px;
    }    
    .header_adress,
    .header_phone {
        font-size: 14px;
        color: white;
        opacity: 1;
    }
    .header_adress {
        margin-right: 18px;
    }
    .header__mark,
    .header__tube {
        margin-right: 5px;
        filter: brightness(10);
        opacity: 1;
    }
}

/* ------------- Титульная страница -------------------- */
.page-title {
    margin-left: 13.5%;
}
.page-title__title,
.page-title__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #494A4D;
}
.page-title__title {
    max-width: 566px;
}
.page-title__subtitle {  
    max-width: 526px;  
    font-weight: 400;     
    margin-bottom: 30px; 
}
.page-title__buttons {
    display: flex;
    flex-direction: column;
}
.page-title__button {
    display: flex;
    max-width: 300px;
    min-height: 59px;   
    background: #E72C79;
    border-radius: 48px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 20px;
    padding: 5px 5px;
}
.page-title__button:last-child {
    background: #911c4d;
    margin-bottom: 81px;
}
@media screen and (max-width: 1100px) {
    .page-title__title,
    .page-title__subtitle {
        font-size: calc(20px + 28 * (100vw / 1400));
}    
}
@media screen and (max-width: 852px) {
    .page-title__title {
        max-width: 400px;
    }
    .page-title__subtitle {  
        max-width: 400px;  
        font-weight: 400;     
        margin-bottom: 30px; 
    }
    .page-title__button {
        font-size: calc(16px + 4 * (100vw / 1400));
        max-width: 260px;
    }
}

@media screen and (max-width: 429px) {
    .page-title {
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px -8px 16px rgba(6, 46, 42, 0.16);
        border-radius: 50px 50px 0px 0px;
        padding: 0 10px;
    }
    .page-title__title {
        max-width: 322px;
        margin-bottom: 15px;
        font-size: 20px;
        text-align: center;
        order: 2;
        font-weight: 400;
        line-height: 138%;
    }
    .page-title__subtitle {    
        font-size: 26px;
        order: 1;
        font-weight: 700;
        text-align: center;
        line-height: 138%;
    }
    .page-title__button {
        max-width: 246px;
        height: 56px;
        font-size: 16px;
        background: linear-gradient(180deg, #97618B 32.6%, #7E5275 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 48px;
        order: 3;
        margin: 0px 0px 30px 0px;
    }
    .page-title__button:last-child{
        margin-bottom: 60px;
    }
}

/* ------------------ Прайс-лист --------------- */
.price__root {
    background-color: #F8F6F3;
    padding-bottom: 170px;
    padding-top: 66px;
}
.price {
    margin-left: 13.5%;
    max-width: 830px;
    
}
.price__title {
    display: flex;
}
.price__title-text {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 48px;
    line-height: 137.5%;
    color: #494A4D;
    align-items: center;
    padding-right: 20px;
}
.price__contacts {
    margin-left: auto;
    display: flex;
    align-items: center;    
}
.price__contacts img {
    width: 50px;
    height: 50px;
}   
.price__contacts_wa {
    margin-right: 5px;
}
.price__contacts_tg {
    margin-right: 5px;
}
.price__contacts_vk {
    margin-right: 5px;
}
.price__item {    
    display: flex;    
    height: 48px;
    border-bottom: 1px solid #8E8E90;;
}
.price__number {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 137.5%;    
    color: #8E8E90;
    min-width: 44px;
    display: flex;
    align-items: center;
}
.price__service,
.price__cost {
    font-weight: 400;
    font-size: 24px;
    line-height: 200%;
    color: #1C1D20;    
}
.price__service {
    max-width: 580px;
    margin-left: 10px;
    margin-right: -10px;
}
.price__cost {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.price__item_cheiloplasty,
.price__item_labioplasty {
    min-height: 77px;
}
.price__item_labioplasty {
    display: flex;
    align-items: center;   
}   
.price__service_cheiloplasty,
.price__service_labioplasty {
    line-height: 150%;
}
.price__contacts_wa,
.price__contacts_tg,
.price__contacts_vk {
    width: 50px;
    height: 50px;
} 
@media screen and (max-width: 1200px) {
    .price__title-text {
        font-size: calc(24px + 15 * (100vw / 1400));
    }
}
@media screen and (max-width: 1000px) {    
    .price__service,
    .price__cost,
    .price__number {
        line-height: 120%;
        font-size: calc(15px + 9 * (100vw / 1400));
    }
    .price {
        margin-right: 30px;
    }
    .price__number {
        min-width: 34px;
    }
    .price__item_cheiloplasty {
        min-height: 115px;
    }   
    .price__service {
        display: flex;
        align-items: center;
        max-width: 400px;
        margin-right: 10px;
    }
    .price__service_cheiloplasty {
        line-height: 100%;
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .price__cost {
        min-width: 172px;
    }
    .price__cost_cheiloplasty {
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 530px) {
    .price__root {
        padding-bottom: 48px;
        padding-top: 30px;
    }
    .price {
        margin-left: 13.5%;
    }
    .price__item {
        display: grid;
        grid-template-columns: 25px 350px;
        grid-template-rows: 1fr 25px;
        height: auto;
        border: none;
        margin-bottom: 10px;      
    }
    .price__title {
        margin-bottom: 10px;
    }  
    .price__title-text {
        font-size: 24px;
    }  
    .price__service,
    .price__cost {
        font-size: calc(15px + 9 * (100vw / 1400));
        line-height: 180%;
    }
    .price__number {
        font-size: 14px;
        grid-row: 1/2;
        grid-column: 1/2;
        line-height: 180%;
        font-size: calc(15px + 9 * (100vw / 1400));
    }
    .price__service {
        grid-row: 1/2;
        grid-column: 2/3;
        max-width: 400px;
    }
    .price__cost {
        grid-row: 2/3;
        grid-column: 1/3;
        margin-left: 0;
        color: #8E8E90;
        margin-left: 35px;
    }
    .price__item_cheiloplasty {
        align-items: start;
        min-height: 77px;
    }
    .price__service_cheiloplasty {
        line-height: 120%;
        padding-top: 4px;
    } 
    .price__contacts img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 429px) {
    .price__root {
        background-color: white;
        padding-bottom: 48px;
        padding-top: 0;
    }
    .price {
        margin-left: 10px;
    }
    .price__price-list {
        margin-left: 35px;
    }
    .price__item {
        display: grid;
        grid-template-columns: 25px 1fr;
        grid-template-rows: 1fr 25px;
        height: auto;
        border: none;  
        align-items: start;  
    }
    .price__title {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;        
    }
    .price__title-text {
        display: flex;
        font-size: 24px;
        margin-left: 35px;        
        padding-bottom: 10px;
        order: 2;
    }
    .price__contacts {
        display: flex;
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
        order: 1;
        justify-content: center;
    }
    .price__contacts > a {
        margin-right: 10px;
    }
    .price__contacts > a:last-child {
        margin-right: 0px;
    }   
    .price__contacts_wa,
    .price__contacts_tg,
    .price__contacts_vk {
        width: 40px;
        height: 40px;
    }    
    .price__service,
    .price__cost {
        font-size: 15px;
        line-height: 180%;
    }
    .price__number {
        font-size: 14px;
        grid-row: 1/2;
        grid-column: 1/2;
        line-height: 180%;
    }
    .price__service {
        grid-row: 1/2;
        grid-column: 2/3;
        max-width: 286px;
    }
    .price__cost {
        grid-row: 2/3;
        grid-column: 1/3;
        margin-left: 0;
        color: #8E8E90;
        margin-left: 35px;
    }
    .price__item_cheiloplasty {
        align-items: start;
    }
    .price__service_cheiloplasty {
        line-height: 120%;
        padding-top: 4px;
    }
    
}   
@media screen and (max-width: 321px) {
    .price__service {
        line-height: 150%;
    }
}

/* ----------------- Карта проезда ---------------- */
.map {
    padding-left: 13.5%;
    background-color: #FCFCF7;    
}
.map__wrapp {
    display: flex;
}
.map__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 137.5%;    
    color: #494A4D;
    align-items: center;
    max-width: 349px;
    margin-bottom: -65px;
    margin-left: 35px;
}
.map__location-map {    
    margin-right: 76px;
}
.map__location-img {
    width: 100%;  
}
.map__inner {
    width: 600px;
    max-height: 447px;
    margin-right: 30px;
}
@media screen and (max-width: 1200px) {
    .map__title {
        font-size: calc(24px + 15 * (100vw / 1400));
    }
    .map {
        padding-left: 10%; 
    }
}
@media screen and (max-width: 861px) {
    .map__title {
        font-size: calc(24px + 1 * (100vw / 1400));
        margin-bottom: -30px;
        margin-left: 35px;
    }
}
@media screen and (max-width: 429px) {
    .map {
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        background-color: #F6F6F6;;
    }
    .map__wrapp { 
        flex-direction: column;
    }
    .map__title {
        margin-left: 0;
        margin-top: 28px;
        padding: 0;
        font-size: 24px;
        order: 2;
        text-align: center;
    }
    .map__location-map {
        order: 2;
        margin: 0 auto;
    }
    .map__inner {
        width: 100%;
        margin-right: 0%;
    }
}

/* --------------- footer -----------------*/
.footer {
    padding-left: 3.9%;
    padding-top: 74px;
    background-color: #E5E1DB;
}
.footer__body {
    display: flex;
}
.footer__image {
    margin-left: 6.1%;
    margin-right: 3.0%;
    max-width: 199px;
    max-height: 199px;
}
.footer__name {
    max-width: 278px;
    margin-right: 6.5%;
}
.footer__title,
.footer__subtitle,
.footer__contacts,
.footer__address * {
    font-family: 'Manrope';
    font-style: normal;      
    color: #1C1D20;
    line-height: 145%;
}
.footer__title {
    font-weight: 700;  
    font-size: 32px;    
}
.footer__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}
.footer__contacts {
    max-width: 450px;
}
.footer__address,
.footer__phone-title {
    font-size: 22px;
    font-weight: 400;
}
.footer__phone {
    display: flex;
    padding-top: 35px;
}

.footer__phone-bold a {
    color: black;
    text-decoration: underline;
}
.footer__phone-bold,
.footer__address-bold {
    font-weight: 700;
    font-size: 22px;
}
.footer__phone-bold {
    margin-left: 5px;
}
.footer__icons {
    margin-top: 28px;
    margin-left: 115px;
}
.footer__icons img {
    width: 59px;
    height: 59px;
}
.footer__icons a:not(:last-child) img {
    margin-right: 24px;
}

.footer__agreement {
    display: flex;
    padding-bottom: 59px;
    padding-left: 22.8%;
    font-size: 14px;
}
.footer__user-agreement {
    color: #1C1D20;
    margin-right: 14px;
    text-decoration: underline;
    max-width: 250px;
}
.footer__consultations {
    display: none;
}
@media screen and (max-width: 1340px) {
    .footer__title {
        font-size: calc(16px + 6 * (100vw / 1400));
    }
    .footer__subtitle {
        font-size: calc(12px + 4 * (100vw / 1400));
        line-height: 150%;
    }
    .footer__image {
        width: 180px;
        height: 180px;
    }
    .footer__address, 
    .footer__address-bold,
    .footer__phone-title,
    .footer__phone-bold {
        font-size: calc(12px + 5 * (100vw / 1400));
    }
    .footer__icons {
        display: flex;
        flex-wrap: nowrap;
        justify-content: end;
        margin: 25px 25px 20px 0px;        
    }
    .footer__contacts {
        padding-right: 15px;
    }
}
@media screen and (max-width: 840px) {
    .footer__image {
    width: 150px;
    height: 150px;
    }
    .footer__title {
        font-size: 18px; 
    }
    .footer__subtitle {
        font-size: 14px;
        line-height: 150%;
    }
    .footer__address *,
    .footer__phone * {
        font-size: 16px;
    }
    .footer__icons img {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 740px) {
    .footer__phone {
        flex-wrap: wrap;
    }
    .footer__icons a:not(:last-child) img {
        margin-right: 15px;
    }
}
@media screen and (max-width: 660px) {
    .footer {
        padding-left: 0px;
        padding-top: 40px;
        padding-left: 13.5%;
    }
    .footer__consultations {
        display: block;
        font-family: 'Manrope';
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 17px;
    }
    .footer__name {
        display: none;
    }
    .footer__image {
        margin-left: 0;
        margin-right: 12px;       
    }
    .footer__contacts {
        margin-left: 10px;
        margin-right: 0px;
        padding-right: 20px;
        max-width: 350px;
    }
    .footer__address {
        font-size: 16px;
        line-height: 125%;
    }
    .footer__address-small,
    .footer__address-bold {
        font-size: 16px;       
    }   
    .footer__agreement {    
        padding-bottom: 50px;
        padding-left: 0%;
        font-size: 10px;
        font-weight: 400;
    }
    .footer__user-agreement {
        font-weight: 400;
    }
    .footer__icons img{
        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width: 500px) {
    .footer__image {
        width: 120px;
        height: 120px;
    }
    .footer__contacts {
        max-width: 200px;
    }
}
@media screen and (max-width: 460px) {
    .footer__address,
    .footer__phone-title,
    .footer__address-small,
    .footer__phone-bold {
        font-size: 14px;
    }
    .footer__contacts {
        margin-left: 10px;
    }    
}

@media screen and (max-width: 429px) {
    .footer {
        padding-left: 25px;
        padding-top: 20px;
        background-color: #97618B;
    }
    .footer__consultations,
    .footer__contacts,
    .footer__address *,
    .footer__phone-bold a {
        color: white;
    }
    .footer__agreement,
    .footer__user-agreement {
        color: rgba(255, 255, 255, 0.45);
    }
    .footer__agreement {
        padding-top: 20px;
    }
    .footer__image {
        margin-left: 0;
        margin-right: 12px;
        max-height: 121px;
        max-width: 121px;        
    }
    .footer__address {
        font-size: 16px;
        line-height: 125%;
    }
    .footer__address-small {
        font-size: 12px;       
    }
    .footer__phone-title {
        display: none;
    }
    .footer__phone {
        padding-top: 13px;
    }
    .footer__icons {
        display: none;
    } 
    .footer__phone-bold {
        font-size: 16px;
        margin: 0 0 0 30px;
    }
}
@media screen and (max-width: 360px) {
    .footer__consultations {
        font-size: 18px;
    }
    .footer__address,
    .footer__address * {
        padding-top: 10px;
        font-size: 12px;
    }
    .footer__phone-bold a {
        font-size: 12px;
    }
    .footer__agreement {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .footer__agreement {
        flex-direction: column;
    }
    .footer__user-agreement {
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 321px) {
    .footer__phone-bold {
        margin: 0px 0 0 0px;
    }
    .footer__contacts,
    .footer__contacts * {
        max-width: 160px;
        margin: 0;
    }
    .footer__image {
        width: 80px;
        height: 80px;
    }    
}


/* ----- Страница "Зачем вам консультация и как к ней подготовиться?" -------*/
.wrapper {
    font-family: 'Inter';
    font-weight: 400;
    background: #F8F6F3 url(../images/page-welcome.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
@media screen and (max-width: 1370px) {
    .wrapper {
        background-position: center center;
    }
}
@media screen and (max-width: 950px) {
    .wrapper {
        background-position: 0 0;
    }
}

.header__contacts_welcome {
    margin-left: 47.2%;
    padding-top: 48px;
}
@media screen and (max-width: 950px) {
.header__contacts_welcome {
    display: flex;
    flex-direction: column;
    margin-left: 60%;
    
}
.header__adress_welcome {
    margin-bottom: 12px;
}
@media screen and (max-width: 850px) {
    .header__contacts_welcome {
        margin-left: 5%;
    }
}
@media screen and (max-width: 550px) {
    .header__contacts_welcome {
        visibility: hidden;
    }
}

}
.welcome__page {
    margin-left: 46%;
    margin-top: 100px;
    font-family: 'Manrope';
    max-width: 512px;
    padding-right: 30px;
    
}
.welcome__page__title {    
    color: #D63273;
    font-size: 48px;
    font-weight: 700;
    padding-left: 33px;
    line-height: 1.4;
}
.welcome__page__subtitle {
    background: linear-gradient(96.2deg, rgba(243, 243, 247, 0.64) 0%, rgba(243, 243, 247, 0.43) 100%);
    backdrop-filter: blur(52.6605px);
    border-radius: 21.0642px;
    padding: 16px 19px 16px 33px;
    margin-top: 25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
}
.welcome__page__text {
    display: flex;
    background: linear-gradient(96.2deg, rgba(233, 43, 123, 0.63) 0%, rgba(197, 22, 87, 0.76) 100%);
    backdrop-filter: blur(52.6605px);
    border-radius: 21.0642px;
    padding: 23px 31px 33px 35px;

}
.welcome__page__paragraph {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    padding-right: 18px;
}
.welcome__page__image{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .welcome__page {
        margin-left: 46%;
        margin-top: 200px;
    }
    .welcome__page__title {
        font-size: calc(20px + 28 * (100vw / 1440));
        background: linear-gradient(96.2deg, rgba(243, 243, 247, 0.64) 0%, rgba(243, 243, 247, 0.43) 100%);
        backdrop-filter: blur(30.2419px);
        border-radius: 9.07258px;
    }
    .welcome__page__subtitle,
    .welcome__page__paragraph {
        font-size: calc(15px + 9 * (100vw / 1440));
        line-height: 1.2;
    }
    
}
@media screen and (max-width: 830px) {
    .welcome__page {
        margin-left: 8.5%;
    }
}

@media screen and (max-width: 550px) {
    .welcome__page__title {
        max-width: 202px;
        font-size: 20px;
        padding: 3px 10px 3px 13px;
        text-align: right;
    }
}